<h1>The longest word!</h1>






<%= "******** Now your result ********" %>
<p>
Your word: <%= @reply %>
</p>
<p>
  Your score: <%= @score %>
</p>
<p>
  <%= @message %>
</p>
<!-- result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
# binding.pry
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

puts "*****************************************************"

 -->
